## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

### Importing libraries needed to scrape data from Wikipedia

In [244]:
import requests
import lxml.html as lh
import pandas as pd
import numpy as np

### *Scraping* data from Wikipedia and converting it into a dataframe

Data to be scraped with Pandas.

In [245]:
# URL with data
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Create a handle, named page, to handle the contents of the website
df = pd.read_html(url, header = 0)

# Pick the first table from the extracted html object
df=df[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

### *Cleaning* dataframe

Drop rows in which Borough is "Not assigned."

In [246]:
df1=df[~df['Borough'].str.contains('Not assigned')]

Combine Neighborhoods with same Postal Code.

In [247]:
df2 = df1.groupby(["Postal Code", "Borough"], as_index=False).agg(lambda x: ", ".join(x))

For Neighborhood with "Not assigned," make the value equal to Borough.

In [248]:
for index, row in df2.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]

Final, cleaned dataframe head and shape.

In [251]:
print('The shape of the cleaned dataframe is: ',df2.shape)
print('*First five rows of the cleaned dataframe shown below')
df2.head()

The shape of the cleaned dataframe is:  (103, 3)
*First five rows of the cleaned dataframe shown below

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae