## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

### Importing libraries needed to scrape data from Wikipedia

In [252]:
import requests
import lxml.html as lh
import pandas as pd

### *Scraping* data from Wikipedia and converting it into a dataframe

Data to be scraped with Pandas.

In [253]:
# URL with data
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Create a handle, named page, to handle the contents of the website
df = pd.read_html(url, header = 0)

# Pick the first table from the extracted html object
df=df[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

### *Cleaning* dataframe

Drop rows in which Borough is "Not assigned."

In [254]:
df1=df[~df['Borough'].str.contains('Not assigned')]

Combine Neighborhoods with same Postal Code.

In [255]:
df2 = df1.groupby(["Postal Code", "Borough"], as_index=False).agg(lambda x: ", ".join(x))

For Neighborhood with "Not assigned," make the value equal to Borough.

In [256]:
for index, row in df2.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]

Verify dataframe obtained is the same as that shown in assignment

In [261]:
# create a new test dataframe
col_names = ["Postal Code", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=col_names)

test_codes = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_codes:
    test_df = test_df.append(df2[df2["Postal Code"]==postcode], ignore_index=True)
    
test_df

,Postal Code,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

Cleaned dataframe shape.

In [264]:
print('The shape of the cleaned dataframe is: ',df2.shape)

The shape of the cleaned dataframe is:  (103, 3)